body
{
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 73.33px auto 50px;
    grid-template-areas: "titel bovenbalk" "Menu inhoud" "onderbalk onderbalk";
}

h1
{
   
    grid-area: titel;
    background-color: rgb(197, 87, 14);
    margin: 0;
}

nav
{
    grid-area: bovenbalk;
    background-color: rgb(197, 87, 14);
    text-align: center;
}


nav li
{
    display: inline-block;
}

nav a
{
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
    color: black;  
}

nav li:hover
{
    transform: scale(1.5);
    transition: transform 0.3s ease-in-out;
}

nav li:hover a
{
    color: white;
}

.CurrentPage:hover a
{
    color: rgb(41, 41, 48);
}

main
{
    grid-area: inhoud;
    align-items: start;
}

footer
{
    grid-area: onderbalk;
    position: absolute;
    bottom:0;
    width:100%;
    background-image: linear-gradient(white, rgb(197, 87, 14));
}

input[type="text"]
{    
    box-sizing: border-box;
    margin-bottom : 10px;
}

select
{
    box-sizing: border-box;
    margin-bottom : 10px;
}